<header></header>
<div ng-controller="BoardController as boardCtrl">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="board in boardCtrl.user.boards | orderBy : 'position'">
        <md-tab-label>{{board.title}}</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
            <div flex="50" flex-sm="100" flex-xs="100" layout="column" ng-repeat="sound in board.sounds | orderBy : 'position'">
              <sound></sound>
            </div>
          </md-content>
          <md-content>
            <sound type="create"></sound>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<footer></footer>
