md-tabs {
  background-color: #FFC99A;
}

.rmv {
  background-color: #FF8319;
}

.btn {
  color: black;
  font-weight: bolder;
}

md-card {
  background-color: #54EAF1;
}

form {
  background-color: #FFC99A;
}

.md-fab {
  background-color: #54EAF1;
}

.btnPlay {
  background-color: #F2FEFE;
}

.btnPause {
  background-color: #FFA557;
}

.btnResume {
  background-color: #00BAC3;
}

.btnStop {
  background-color: #FF7600;
}

.btnAdd {
  background-color: black;
  color: #94F0F4;
}
