<div layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="phraseForm" ng-submit="addPhrase(livePhrase, board.sounds)">
      <h4 class="md-title">Add a Text to Speech Sound</h4>
      <md-input-container class="md-block">
        <label>Text to Speech</label>
        <textarea ng-keypress="($event.which === 13)?play(livePhrase):0" required ng-model="livePhrase.speaktext" class="form-control"></textarea>
      </md-input-container>
      <div layout-gt-sm="row">
        <md-input-container class="md-block">
          <label>Accent</label>
          <md-select ng-model="livePhrase.accent">
            <md-option ng-repeat="accent in boardCtrl.accents | orderBy: 'name'" ng-value="accent.name" ng-bind="accent.name"></md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <div layout="column" layout-align="start center">
            <div>
              <label>Pitch</label>
              <input class="md-block" type="number" name="pitch" ng-model="livePhrase.options.pitch" min="0" max="2" step="0.1" />
              <p class="md-title"></p>
              <md-slider class="md-warn" min="0" max="2" step="0.1" ng-model="livePhrase.options.pitch" aria-label="pitch slider" id="pitch-slider">
              </md-slider>
            </div>
          </div>
          <div ng-messages="">
            <!-- ng-message weren't hiding automatically. reverted to ng-show. kept ng-messages for styling.  -->
            <div ng-show="phraseForm.pitch.$error.min">
              Please choose a value no less than 0
            </div>
            <div ng-show="phraseForm.pitch.$error.pattern">
              No more than 2 decimal places
            </div>
            <div ng-show="phraseForm.pitch.$error.max">
              Please choose a value no greater than 2
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <div layout="column" layout-align="start center">
            <div>
              <label>Rate</label>
              <input type="number" name="rate" ng-model="livePhrase.options.rate" min="0" max="1.5" step="0.1" />
              <p class="md-title"></p>
              <md-slider class="md-warn" min="0" max="1.5" step="0.1" ng-model="livePhrase.options.rate" aria-label="rate slider" id="rate-slider">
              </md-slider>
            </div>
          </div>
          <div ng-messages="">
            <!-- ng-message weren't hiding automatically. reverted to ng-show. kept ng-messages for styling.  -->
            <div ng-show="phraseForm.rate.$error.min">
              Please choose a value no less than 0
            </div>
            <div ng-show="phraseForm.rate.$error.pattern">
              No more than 2 decimal places
            </div>
            <div ng-show="phraseForm.rate.$error.max">
              Please choose a value no greater than 1.5
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <div layout="column" layout-align="start center">
            <div>
              <label>Volume</label>
              <input type="number" name="volume" ng-model="livePhrase.options.volume" min="0" max="1" step="0.1" />
              <p class="md-title"></p>
              <md-slider class="md-warn" min="0" max="1" step="0.1" ng-model="livePhrase.options.volume" aria-label="volume slider" id="volume-slider">
              </md-slider>
            </div>
          </div>
          <div ng-messages="">
            <!-- ng-message weren't hiding automatically. reverted to ng-show. kept ng-messages for styling.  -->
            <div ng-show="phraseForm.volume.$error.min">
              Please choose a value no less than 0
            </div>
            <div ng-show="phraseForm.volume.$error.pattern">
              No more than 2 decimal places
            </div>
            <div ng-show="phraseForm.volume.$error.max">
              Please choose a value no greater than 1
            </div>
          </div>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <md-button class="btn btnPlay" aria-label="play" ng-click="play(livePhrase)">PLAY</md-button>
        <md-button class="btn btnPause" aria-label="pause" ng-click="pause()">PAUSE</md-button>
        <md-button class="btn btnResume" aria-label="resume" ng-click="resume()">RESUME</md-button>
        <md-button class="btn btnStop" aria-label="stop" ng-click="stop()">STOP</md-button>
        <md-button class="btn btnAdd" aria-label="add button" type=submit>ADD SOUND</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
