<div>
  <form name="phraseForm" ng-submit="addPhrase(board.phrases)">
    <h4>Add a Button</h4>
    <fieldset class="form-group">
      <textarea ng-keypress="($event.which === 13)?play(livePhrase):0" ng-model="livePhrase.speaktext" class="form-control" title="Text to Speech" placeholder="Type text here to hear..."></textarea>
    </fieldset>
    <fieldset class="form-group">
      <span>Accent</span>
      <select ng-model="livePhrase.accent">
        <option ng-repeat="accent in board.accents | orderBy: 'name'" ng-value="accent.name" ng-bind="accent.name"></option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <md-button class="btnPlay" aria-label="play" ng-click="play(livePhrase)">PLAY</md-button>
      <md-button class="btnPause" aria-label="pause" ng-click="pause()">PAUSE</md-button>
      <md-button class="btnResume" aria-label="resume" ng-click="resume()">RESUME</md-button>
      <md-button class="btnStop" aria-label="stop" ng-click="stop()">STOP</md-button>
      <md-button class="btnAdd" aria-label="add button" type=submit>ADD BUTTON</md-button>
    </fieldset>
  </form>
</div>
